<div class="w-full">
  <app-loader
    class="absolute top-1/2 left-1/2 -translate-1/2 -translate-x-1/2 h-72 w-72"
  ></app-loader>
  <div class="grid grid-cols-1 lg:grid-cols-3">
    <div class="col-span-1" *ngFor="let l of launches; let i = index">
      <div
        class="flex justify-center p-5"
        *ngIf="i + 1 === launches.length"
        #theLastList
      >
        <a
          [routerLink]="['/launches', l.flight_number]"
          class="flex justify-center p-5 w-full"
        >
          <app-launches-item
            class="w-full"
            [missionName]="l.mission_name"
            [rocketName]="l.rocket.rocket_name"
            [rocketType]="l.rocket.rocket_type"
            [imagePath]="l.links.mission_patch_small"
          ></app-launches-item>
        </a>
      </div>
      <div class="flex justify-center p-5" *ngIf="i + 1 !== launches.length">
        <a
          [routerLink]="['/launches', l.flight_number]"
          class="flex justify-center p-5 w-full"
        >
          <app-launches-item
            class="w-full"
            [missionName]="l.mission_name"
            [rocketName]="l.rocket.rocket_name"
            [rocketType]="l.rocket.rocket_type"
            [imagePath]="l.links.mission_patch_small"
          ></app-launches-item>
        </a>
      </div>
    </div>
  </div>
</div>
